<!-- Start Breadcrumbs -->
<app-breadcrumbs title="单元管理" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-bottom-dashed">
        <div class="row g-4 align-items-center">
          <div class="col-sm">
            <div>
              <h5 class="card-title mb-0">单元列表</h5>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="d-flex flex-wrap align-items-start gap-2">
              <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal(formTpl)">
                <i class="ri-add-line align-bottom me-1"></i>
                添加
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body border-bottom-dashed border-bottom">
        <div class="row g-3">
          <div class="col-xl-6">
            <div class="search-box">
              <input type="text" name="searchTerm" (input)="search($event)" class="form-control" placeholder="卡号，学校，学生，帐号...">
              <i class="ri-search-line search-icon"></i>
            </div>
          </div>
          <!--end col-->
          <div class="col-xl-6">

          </div>
        </div>
        <!--end row-->
      </div>
      <div class="card-body">
        <div>
          <div class="table-responsive table-card mb-1">
            <table class="table">
              <thead class="table-light text-muted">
              <tr>
                <th>课本</th>
                <th>单元</th>
                <td>单词数</td>
                <th>状态</th>
                <td>序号</td>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let model of models">
                <td>{{model.book_name}}</td>
                <td>{{model.name}}</td>
                <td>{{model.word_count}}</td>
                <td>{{model.status}}</td>
                <td>{{model.seq}}</td>
                <td>

                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center">
            <div class="col col-sm-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                Showing
                {{pagination.page_size * (pagination.page_no - 1)}} to
                {{pagination.page_size * pagination.page_no}} of {{pagination.total_count}}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col col-sm-5">
              <div class="text-sm-right float-sm-end listjs-pagination">
                <ngb-pagination
                  [collectionSize]="pagination.total_count"
                  [(page)]="pagination.page_no"
                  [maxSize]="5"
                  [rotate]="true"
                  [boundaryLinks]="true"
                  [pageSize]="pagination.page_size"
                  (pageChange)="loadPage()" >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--end col-->
</div>
<!--end row-->





<ng-template #formTpl role="document" let-modal>
  <div class="modal-header bg-light p-3">
    <h5 class="modal-title">批量开卡</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            id="close-modal" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="genCard()" [formGroup]="gForm" class="tablelist-form" autocomplete="off">
    <div class="modal-body">

      <div class="mb-3">
        <label for="kind-field" class="form-label">卡种类</label>
        <select class="form-select" id="kind-field" formControlName="kind">
          <option value="QUARTER">季度</option>
          <option value="HALF_YEAR">半年</option>
          <option value="YEAR">一年</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">数量</label><br>
        <div class="input-step">
          <button type="button" class="minus" (click)="decrement()">–</button>
          <input type="number" formControlName="qty" class="product-quantity" value="{{counter}}" min="1" max="100" readonly>
          <button type="button" class="plus" (click)="increment()">+</button>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">关闭</button>
        <button type="submit" class="btn btn-success" id="add-btn">提交</button>
      </div>
    </div>
  </form>
</ng-template>
